@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../public/firstpgimg1.png');
  background-repeat: no-repeat;
  max-height: fit-content;
  background-position: center;
  background-size: cover; 
 
}

/* .bgimg{
  max-width: 100%;
  height: 750px;
} */

.Cardbox {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.Card {
  width: 300px;
  height: 350px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 1px 10px 1px black;

}

.upper-container {
  height: 100px;
  background: linear-gradient(to left, #FEE715FF, rgb(244, 241, 241));
  align-items: center;
  justify-content: center;

}


.image-container img {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* padding: 5px; */
  transform: translate(95px, 45px);
  position: absolute;
  border: 2px solid pink;
}

.lower-container {
  margin-top: 60px;
  height: 100px;
  background: white;
  text-align: center;
}

.lower-container h3 {
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}

.cardbtn {
  margin: 1rem;
  margin-top: 30px;
  color: black;
  font-weight: 500;
  background-color: white;
  border: 2px solid pink;
  padding: 0.6rem;
  border-radius: 6px;
  animation: ease-in-out;
  font-size: 1.1rem;
}

.cardbtn:hover {
  background-color: rgba(34, 0, 255, 0.792);
  transform: scale(1.2);
  border: 1px solid black;
  color: white;
}




@media screen and (min-width: 1020px) {
  .togglebar {
    position: absolute;
    right: 4rem;
  }
}

@media screen and (max-width: 1020px){
  .firform{
    display: flex;
    flex-direction: column;
  }
}






.dropbtn {
  color: white;
  /* padding: 16px; */
  /* font-size: 16px; */
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
  color: #0B2447;
}